.center {
    padding: 0 10vw;
  }

header {
    height: 50px;
} 

.maindeck {
    display: flex;
    justify-content: space-around;
    
}

.floor {
    height: 250px;
    width: 250px;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room {
    height: 150px;
    width: 150px; 
    background-color: rgb(134, 130, 130);
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    
}

.namerooms {
    font-size: 19px;
    
}

.links {
    text-decoration: none;
}
.nameplan{
    display: flex;
    justify-content: center;
}


.line {
    
    background-color: grey;
    margin-top: 10px;
    display: flex;
    
}





.computer {
    display: inline-block;
    position: relative;
    height: 8vmin;
    width: 15vmin;
    background-image: url(img/comp.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.drop {
    position: absolute;
    display: none;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    background-color: cadetblue;
    }

.computer:hover .drop {
   display: block;
   z-index: 10000;
}